p { text-align: center;
    font-size: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;


}
header{
    text-align: center;
    font-weight: bold;
    color: rgb(89, 54, 36);
    background-color: rgb(225, 210, 171);
    
    
}
body{
    background-color: beige;
}
#maior{
    margin-left:450px ;
}
h1{
    text-align: center;
}