body{

background-color: rgb(255, 237, 211);
}
.wrapper{
background-color: rgb(255, 250, 240);
height:700px ;
width :1154px ;
margin:50px auto;
border-radius:50px ;
-webkit-box-shadow:0px 14px 32px 0px rgba(0, 0, 0, 0.15); 
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0 ,0.15);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0 ,0.15);
}
.tex{

    font-size: 0.7cm;
    font-family: acc;
}
.tex1{

    font-size: 0.9cm;
    font-family: acc;
}
.buto{
    background-color: rgb(152, 199, 152);
    font-family: acc;
    border-radius: 60px;
   height: 70px;
   padding-right: 50px; 
   width: 200px;
   margin-top: 30px;
   position: relative;
   font-size: 40px;
   display: inline-block;
   box-sizing: border-box;
   font-weight: 500;
   text-transform: uppercase;
   cursor: pointer;
   outline: none;
   letter-spacing: 0em;
  border-color: beige;
}

.buto button:hover{
    background-color: #79b0a1;
}
@font-face {
    font-family: 'acc';
    font-style: normal;
    font-weight: 400;
    src: local('Lavi'), url('https://fonts.cdnfonts.com/s/9696/Lavi.woff') format('woff');
}


span{

display: inline-block;
height: 110px;
margin: auto;
font-family: acc;
font-size: 34px;
}body{
2
​
3
background-color: rgb(255, 237, 211);
4
}
5
.wrapper{
6
​
7
height:420px ;
8
width:654px ;
9
margin:50px auto;
10
border-radius:50px ;
11
-webkit-box-shadow:0px 14px 32px 0px rgba(0, 0, 0, 0.15); 
12
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0 ,0.15);
13
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0 ,0.15);
14
}
15
